.body-wrap {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #ffffff;
  /*position: relative;*/
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background: rgba(94, 93, 88, 0.6);
  padding-top: 26px;
  padding-bottom: 26px;
  position: fixed;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}

.logo-link::before {
  content: url("../images/polygon.png");
  width: 58px;
  height: 67px;
  margin-right: 6px;
}

.logo-icon {
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  color: #ffffff;
  position: absolute;
  padding-left: 13px;
}

.logo-text {
  font-weight: 700;
}

.accent-color-green {
  color: #18cfab;
}

.menu-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  gap: 21px;
}

.menu-item-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.menu-item-link:hover {
  color: #18cfab;
  cursor: pointer;
}

/*TODO: add search-icon hover*/

/*Intro section*/

.intro {
  padding-top: 120px;
  /*padding-bottom: 10px;*/
  background-image: url("../images/sections-background/section-1(header).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
}

.intro-title {
  margin-top: 0;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}

.intro-subtitle {
  display: block;
  font-weight: 700;
  font-size: 78px;
  text-align: center;
  text-transform: uppercase;
}

.intro-cta {
  font-size: 34px;
  display: block;
  margin-top: 22px;
  margin-bottom: 130px;
  text-align: center;
  color: #d4d4d4;
}

.btn-wrap {
  text-align: center;
}

.btn-link {
  padding: 16px 12px;
  border-top: #ffffff solid 5px;
  border-radius: 3px;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  margin-right: 26px;
}

.green-btn {
  background: #18cfab;
}

.blue-btn {
  background: #00cbf6;
}

/*4 options section*/

.options {
  padding-top: 10px;
  padding-bottom: 10px;
}

.option-list {
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  background: #1c2a33;
}

.option-list-item {
  padding: 87px 50px 103px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #18cfab;
}

.option-list-item:nth-child(2n) {
  background: #18cfab;
  color: #ffffff;
}

.option-icon {
  margin-bottom: 48px;
  height: 97px;
  object-fit: contain;
}

.services {
  color: #4e4e4e;
  padding-top: 83px;
  padding-bottom: 91px;
  text-align: center;
}

.section-title {
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  position: relative;
}

.section-title::before {
  content: "";
  width: 76px;
  height: 1px;
  background: #18cfab;
  position: absolute;
  bottom: -26px;
  left: 46%;
}

.section-title::after {
  content: "";
  width: 76px;
  height: 1px;
  background: #18cfab;
  position: absolute;
  bottom: -30px;
  right: 46%;
}

.service-list {
  margin-top: 70px;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.service-list-item {
  border-top: 1px solid #edefef;
  border-bottom: 1px solid #edefef;
  background: #f8fcfe;
  padding: 20px;
}

.service-list-item:not(:last-child) {
  border-right: 1px solid #edefef;
  border-left: 1px solid rgba(0, 0, 0, 0);
}

.service-list-item:hover {
  cursor: pointer;
  border: 1px solid #18cfab;
}

/*TODO: solve problem with border right whet list item is active*/

.active {
  background: #18cfab;
  border-color: #18cfab !important;
  color: #ffffff;
  position: relative;
}

.active::after {
  content: "";
  width: 15px;
  height: 15px;
  background: #18cfab;
  transform: rotate(45deg);
  position: absolute;
  bottom: -8px;
  left: 46%;
}

.service-desc {
  display: flex;
}

.service-desc-text {
  margin-left: 15px;
  text-align: left;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}
